In [1]:
import pandas as pd
import os

In [1]:
category = ["CDs_and_Vinyl", "Grocery_and_Gourmet_Food", "Toys_and_Games"]

In [36]:
import pandas as pd
x1 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/train/product_training.json")
x2 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/train/review_training.json")
x3 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/test1/product_test.json")
x4 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/test1/review_test.json")
x5 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/test2/product_test.json")
x6 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/test2/review_test.json")
x7 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/test3/product_test.json")
x8 = pd.read_json("devided_dataset_v2/Grocery_and_Gourmet_Food/test3/review_test.json")

In [ ]:
x2.columns

In [31]:
x2.columns

Index(['asin', 'reviewerID', 'unixReviewTime', 'verified', 'reviewTime',
       'reviewerName', 'reviewText', 'summary', 'vote', 'image', 'style'],
      dtype='object')

In [35]:
x5.columns

Index(['asin'], dtype='object')

In [2]:
category = ["CDs_and_Vinyl"]
# category = ["CDs_and_Vinyl", "Cell_Phones_and_Accessories", "Grocery_and_Gourmet_Food", "Sports_and_Outdoors", "Toys_and_Games", "Automotive"]

In [3]:
date_type = ['train', 'test1', 'test2', 'test3']

In [4]:
for c in category:
    for t in date_type:
        filename = f"./devided_dataset/{c}_{t}.json"
        original_df = pd.read_json(filename)
        os.makedirs(f"./devided_dataset_v2/{c}", exist_ok=True)
        os.makedirs(f"./devided_dataset_v2/{c}/{t}", exist_ok=True)
        if 'test' not in filename:
            print("="*10, "training", "="*10)
            featured_filename = f"./devided_dataset_v2/{c}/{t}/review_training.json"
            label_filename = f"./devided_dataset_v2/{c}/{t}/product_training.json"
            features = original_df.drop("awesomeness", axis=1)
            awesomeness_df = original_df.loc[:, ['asin', 'awesomeness']]
            labels = awesomeness_df.groupby('asin').agg({'awesomeness': 'mean'}).reset_index()
            features.to_json(featured_filename)
            labels.to_json(label_filename)
        else:
            print("="*10, "testing", "="*10)
            featured_filename = f"./devided_dataset_v2/{c}/{t}/review_test.json"
            label_filename = f"./devided_dataset_v2/{c}/{t}/product_labels.json"
            new_label_filename = f"./devided_dataset_v2/{c}/{t}/product_test.json"
            features = original_df.drop("awesomeness", axis=1)
            awesomeness_df = original_df.loc[:, ['asin', 'awesomeness']]
            labels = awesomeness_df.groupby('asin').agg({'awesomeness': 'mean'}).reset_index()
            new_labels = labels.copy()
            new_labels = new_labels.drop("awesomeness", axis=1)
            features.to_json(featured_filename)
            labels.to_json(label_filename)
            new_labels.to_json(new_label_filename)

========== training ==========
========== testing ==========
========== testing ==========
========== testing ==========

In [1]:
import pandas as pd

In [2]:
x = pd.read_json("devided_dataset_v2/CDs_and_Vinyl/train/product_training.json")

In [3]:
x1 = pd.read_json("devided_dataset_v2/CDs_and_Vinyl/train/review_training.json")

In [4]:
x2 = pd.read_json("devided_dataset_v2/CDs_and_Vinyl/test1/review_test.json")
x3 = pd.read_json("devided_dataset_v2/CDs_and_Vinyl/test1/product_test.json")

In [4]:
x.head()

                               asin  awesomeness
0  0000B049F5B33CD310EB1AB236E20191            1
1  00018184A9EC4D270219A296B2580303            0
2  000281A9CAC43FF1F335726A390636DA            0
3  00030884DF109F325638A6BFD5B13CFF            1
4  000325BA25966B5FC701D5D2B5DBA4E0            0

In [6]:
pd.set_option('display.max_colwidth', 10)
x3.iloc[10:28].reset_index(drop=True)#.head(8)

         asin
0   2A11A0...
1   2A11AF...
2   2A1316...
3   2A16BD...
4   2A17E8...
5   0450DF...
6   2A1918...
7   2A1944...
8   2A1A14...
9   2A1A35...
10  2A1DAE...
11  2A1E80...
12  2A2068...
13  2A20D4...
14  2A2224...
15  2A2329...
16  045705...
17  2A26A3...

In [39]:
pd.set_option('display.max_colwidth', 250)
x1[['reviewText','summary' ]].iloc[10:18].reset_index(drop=True)#.head(8)
# pd.set_option('display.max_colwidth', 15)
# x1.iloc[10:18].reset_index(drop=True)#.head(8)

,reviewText,summary
0,"Dick Dale, the Godfather of Surf Guitar and Early Instrumental Classics that went on to inspire other artists such as the Beach Boys and Jan & Dean is a musical treasure trove. Dick Dale was definitely a musical pioneer, braving New Frontiers in...",Catch Some COOOOL Music Waves!
1,This double cd set has all the Johnny rivers songs any fan would like. The second cd has some songs that are not as well known but is still very good.,Anthology
2,"Between 2005 and 2008, they finally remastered with decent quality all the Beatles cds. Since a good share of the originals were MONO, not stereo at all, this makes for some major improvements over the George Martin 1986 masters (ack, I actually ...",Sounds way better than the dolby digital 5.1 soundtrack from the DVD anyway
3,Item arrived as advertised in a timely manner.,Home Fires - Music from the Television Series
4,"The thing I remember about every Boston album (except their debut) was that it always took way too long to come out, and that the albums were nearly always dissed as inconsistent. Both criticisms were true - and they're true here as well. It's ...",Not the old Boston - but it's Boston!
5,I HAD BEEN LOOKING FOR THIS CD BUT COULDN'T FIND IT. THIS IS THE BEST CD I HAVE FOUND BY CURTIS. WILL USE AS A GIFT.,MUSIC AT IT'S BEST!
6,"I bought this album because I LOVED their first album. I was thoroughly disappointed because I liked the R&B direction of their first album especially ""Right Now"", ""Show Stopper"" ""Ride For You"" ""Stay With Me"" ""Sleep On It"" and the Interludes. Thi...","NOT R&B-It's ""INTERNATIONAL POP"""
7,"I grew up on Jailbreak and The Boys are Back in Town in constant radio rotation and it was not unitl the Thunder and Ligtnening era that I became much more familar with the classic Lizzy years, which included Jailbreak, Johnny the Fox, and Bad Re...",Wild one you've been away too long!

In [36]:
test_data1 = pd.read_json("./devided_dataset/Toys_and_Games_test2.json")

In [37]:
test_data1.head()

,asin,reviewerID,unixReviewTime,verified,reviewTime,reviewerName,reviewText,summary,vote,image,style,awesomeness
0,1F4D8B48DADE5D594C0AC7DC5E270FCE,6E88AFF788149FEC38E99E1FAEA92F45,1363046400,True,"03 12, 2013",324939C6D0F6707BFC4FC2CCC66B18DD,I bought this to have as a Christmas present f...,Great game,None,None,None,1
1,7D2ADF7A9462660FFC870CD2CD2FAAAD,480F794B4641982BB87B9DBBE58502B3,1463529600,False,"05 18, 2016",83B14A6C8245D7DB579893B85959D5C8,This building set is a nice change from LEGOs....,+ *: Flexible Building Set,None,None,None,1
2,49F3CC7B95388E5F245009B89746F145,1F42F4CFF79BFF36286944DC68B47F18,1381190400,True,"10 8, 2013",6C9993AD8224625D34DA17C420565081,This was not a good toy selection. The cord o...,Disappointed.,None,None,{'Color:': ' Assorted'},0
3,A971ADAD5D2ED305D7E057075C8B77D4,14A7105F5BFB1BAFE80B24BF6220D93D,1418947200,True,"12 19, 2014",136C6E523A17F68B46585C3F0F9CA76E,"Very disappointed by how small this is, and ho...",Feel Chilly About this Frozen Item,None,None,None,0
4,FDFA0AA9B67A53E0420D8039544AAA70,E7EAAB23AE173DF31FC461EDE267A19C,1435363200,True,"06 27, 2015",2964815D03A032C8CA37AC5D557647DD,Cute gift she was happy,Lovely doll,None,None,None,1

In [10]:
import json 
import pandas as pd
import numpy as np

def load_ratings(folder, category):
    training_file, testing_file = f"{folder}/{category}_Ratings_training.csv",  f"{folder}/{category}_Ratings_test.csv"
    training_ratings, testing_ratings = pd.read_csv(training_file), pd.read_csv(testing_file)
    return training_ratings, testing_ratings

def load_reviews(folder, category):
    training_file, testing_file = f"{folder}/{category}_Reviews_training.json",  f"{folder}/{category}_Reviews_test.json"
    training_reviews, testing_reviews = pd.read_json(training_file,lines=True), pd.read_json(testing_file,lines=True)
    return training_reviews, testing_reviews

In [11]:
trn_ratings, tst_ratings = load_ratings("./ML_datasets/ML_datasets", "Automotive")
trn_reviews, tst_reviews = load_reviews("./ML_datasets/ML_datasets", "Automotive")

In [ ]:
trn_ratings.head()

In [12]:
trn_reviews.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,image,style
0,5,True,"07 6, 2015",30DD4CCD8E39A016B6A6D111ED653A9A,AD4A406AA3C23A41F2CAB3A72330EEB1,0D3E1DE98B00147DD39C8ED155587FB3,Works and was cheap.,works,1436140800,NaN,NaN,NaN
1,5,True,"05 6, 2015",66228DC82ECD45CB6E8DDB182E4AB0EE,AD4A406AA3C23A41F2CAB3A72330EEB1,2E013730F55961E3190708F677ED0329,Fits and performs just fine. Comes with a gas...,Fits and performs just fine. Comes with a gask...,1430870400,NaN,NaN,NaN
2,4,True,"12 6, 2014",786F452D6435C2763ED83807F38B6911,AD4A406AA3C23A41F2CAB3A72330EEB1,82CFA8EA6972D23900C16DBF5174E843,It works.......what else can I say?,Works,1417824000,NaN,NaN,NaN
3,4,True,"11 17, 2014",DB5FC140E0017378748D2406DA9862C2,AD4A406AA3C23A41F2CAB3A72330EEB1,3550CCB56A88F70386294D98DCFA3F66,Purchased for a 2005 Chevrolet Impala Base (wi...,It's a good relatively inexpensive water pump,1416182400,NaN,NaN,NaN
4,5,True,"06 9, 2014",A653552672A124C6CD5481E43E33AD21,AD4A406AA3C23A41F2CAB3A72330EEB1,6C30A0936026B1A00E5733BBF2508B25,"Have a 2003 car with over 375,000. This pump i...",Good fit,1402272000,NaN,NaN,NaN

In [4]:
desiredAngle =-1.2
motorJointRange = 1.56
max(min(desiredAngle, motorJointRange), -motorJointRange)

-1.2